<template>
  <div>
    <el-page-header @back="goBack">
      <template #breadcrumb>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">
            main
          </el-breadcrumb-item>
          <el-breadcrumb-item>직원 관리</el-breadcrumb-item>
          <el-breadcrumb-item>직원 조회</el-breadcrumb-item>
          <el-breadcrumb-item>직원 상세 조회</el-breadcrumb-item>
        </el-breadcrumb>
      </template>
      <template #content>
        <div class="text-large font-600 " v-if="MemberDetail.isWork === '재직중'">{{ MemberDetail.memberName }}님의 상세정보</div>
        <div v-else>{{ MemberDetail.memberName }}님의 상세정보<span class="ml-5 text-sm text-gray-400">퇴직한 직원입니다.</span></div>
      </template>
      <template #extra>
        <div class="flex items-center">
          <el-button type="info" v-if="MemberDetail.isWork === '재직중'" class="ml-2" @click="putOutCheck">퇴직 처리</el-button>
        </div>
      </template>
      <!-- 기본 정보-->
      <div class="flex justify-between mt-4">
        <el-card class="info" :class="{ 'no-hover': true }">
          <template #header>
            <div class="flex justify-between items-center">
              <span>기본 정보</span>
              <span>
              <el-button class="" type="primary" text @click="editSchedule($route.params.id)">
                기본 정보 수정
              </el-button>
            </span>
            </div>
          </template>
          <div>
            <div class="text-sm text-gray-400">이름</div>
            <div class="text item">{{ MemberDetail.memberName }}</div>
          </div>
          <div class="mt-4">
            <div class="text-sm text-gray-400">생년월일</div>
            <div class="text item">{{ MemberDetail.memberDateBirth }}</div>
          </div>
          <div class="mt-4">
            <div class="text-sm text-gray-400">핸드폰 번호</div>
            <div class="text item">{{ MemberDetail.memberPhoneNumber }}</div>
          </div>
        </el-card>
        <!-- 근무 정보 -->
        <el-card class="info" :class="{ 'no-hover': true }">
          <template #header>
            <div class="flex justify-between items-center">
              <span>근무 정보</span>
              <span>
              <el-button class="" type="primary" text @click="editSchedule($route.params.id)">
                근무 정보 변경
              </el-button>
            </span>
            </div>
          </template>
          <div>
            <div class="text-sm text-gray-400">입사일</div>
            <div class="text item">{{ MemberDetail.dateIn }}</div>
          </div>
          <div class="mt-4">
            <div class="text-sm text-gray-400">직책</div>
            <div class="text item">{{ MemberDetail.position }}</div>
          </div>
          <div class="mt-4">
            <div class="text-sm text-gray-400">메모</div>
            <div class="text item">{{ MemberDetail.etc }}</div>
          </div>
        </el-card>
        <!-- 근무 스케쥴 -->
        <el-card class="info" :class="{ 'no-hover': true }">
          <template #header>
            <div class="flex justify-between items-center">
              <span>근무 스케쥴</span>
              <span>
              <el-button class="" type="primary" text @click="editSchedule($route.params.id)">
                근무 스케쥴 변경
              </el-button>
            </span>
            </div>
          </template>
          <div v-if="MemberDetail" aria-colspan="1">
            <div v-for="(day, index) in  weekResult" :key="index">
              {{ day }}
            </div>
          </div>
        </el-card>
      </div>

      <el-card class="contract mt-5" v-if="MemberDetail.contract">
        <template #header>
          <div class="flex justify-between items-center">
            <span>근로 계약 정보</span>
            <span>
            <el-button class="" type="primary" text>
              근로 계약 수정
            </el-button>
          </span>
          </div>
        </template>
        <el-row :gutter="10">
          <!-- 첫 번째 열 -->
          <el-col :span="9">
            <div>
              <span class="text-sm text-gray-400 mb-5 mt-10"
                    style="display: inline-block; width: 120px;">근로 계약 일자</span>
              <span class="text item">{{ MemberDetail.contract.dateContract }}</span>
            </div>
            <span class="text-sm text-gray-400 mb-5" style="display: inline-block; width: 120px;">근무 시작 일자</span>
            <span class="text item">{{ MemberDetail.contract.dateWorkStart }}</span>
            <div>
              <span class="text-sm text-gray-400 mb-5" style="display: inline-block; width: 120px;">근무 종료 일자</span>
              <span class="text item">{{ MemberDetail.contract.dateWorkEnd }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mb-5" style="display: inline-block; width: 120px;">근무시간(일/주)</span>
              <span class="text item">{{ MemberDetail.contract.workTime }}시간 /
                {{MemberDetail.contract.weekWorkTime }}시간</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mb-5" style="display: inline-block; width: 120px;">근무 요일</span>
              <span class="text item">{{ MemberDetail.contract.workDay }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mb-5" style="display: inline-block; width: 120px;">월급 지급일</span>
              <span class="text item">{{ MemberDetail.contract.wagePayment }}</span>
            </div>
          </el-col>

          <!-- 두 번째 열 -->
          <el-col :span="9">
            <div>
              <span class="text-sm text-gray-400 mb-5 mt-10"
                    style="display: inline-block; width: 120px;">급여 지급 방식</span>
              <span class="text item">{{ MemberDetail.contract.payType }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mb-5" style="display: inline-block; width: 120px;">급여 금액</span>
              <span class="text item">{{ MemberDetail.contract.payPrice }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mb-5" style="display: inline-block; width: 120px;">세금 공제</span>
              <span class="text item">{{ MemberDetail.contract.insurance }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mb-5" style="display: inline-block; width: 120px;">주휴수당 여부</span>
              <span class="text item">{{ MemberDetail.contract.isWeekPay }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mb-5" style="display: inline-block; width: 120px;">식대</span>
              <span class="text item">{{ MemberDetail.contract.mealPay }}원</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mb-5" style="display: inline-block; width: 120px;">계좌번호</span>
              <span class="text item">{{ MemberDetail.contract.wageAccountNumber }}</span>
            </div>
          </el-col>
          <el-col :span="6">
            <div v-if="MemberDetail.contract.contractCopyImgUrl.length > 0 ">
              <div class="text-sm text-gray-400 mb-5" style="display: inline-block; width: 120px;" @click="dialogFormVisible = true">근로 계약서 사본</div>
              <div>
                <el-image
                  style="height: 300px"
                  :src="MemberDetail.contract.contractCopyImgUrl"
                  :zoom-rate="1.2"
                  :max-scale="7"
                  :min-scale="0.2"
                  :initial-index="4"
                  fit="cover"
                  @click="dialogFormVisible = true"
                />
              </div>
              <el-dialog v-model="dialogFormVisible" title="근로 계약서 사본">
                <div style="text-align: center;">
                  <el-image
                    :src="MemberDetail.contract.contractCopyImgUrl"
                    fit="contain"
                    style="max-height: 100%;"
                  />
                </div>
              </el-dialog>
            </div>
            <div v-else>근로 계약서 사본이 없습니다.</div>
          </el-col>
        </el-row>
      </el-card>
    </el-page-header>
  </div>
</template>

<style>
.el-card.info {
  border-radius: 1.5rem;
  width: calc(35% - 3rem); /* 가로 공간을 반으로 나누기 위해 50%로 설정 */
}

.el-card.contract {
  border-radius: 1.5rem;
}
</style>

<script setup>
import {storeToRefs} from "pinia";
import {useBusinessMemberStore} from "~/store/businessMember";
import {ref} from "vue";

definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '직원 상세보기'
})

const router = useRouter();

const goBack = () => {
  router.push("/business/member/table");
}

const store = useBusinessMemberStore();
const {getDetail, putOut} = store
const {MemberDetail} = storeToRefs(store);
const {MemberWeek} = storeToRefs(store);


await getDetail('${id}').then(() => {
}).catch(() => {
});

const editSchedule = (id) => {
  router.push(`/business/schedule/detail/${id}`);
}

const putOutCheck = async () => {
  try {
    await putOut('${id}')
    alert("퇴직 처리가 되었습니다.")
    goBack()
  } catch (error) {
    console.error("퇴직 처리 실패 이유 뭐냐,,=>", error);
  }
};

const dialogFormVisible = ref(false);

const enlargeImage = () => {
  dialogFormVisible.value = true;
}

const week = MemberWeek.value.workingHour;
const weekResult = week.split(',')

</script>
