<template>
  <div>
    <el-page-header @back="goBack">
      <template #breadcrumb>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">
            main
          </el-breadcrumb-item>
          <el-breadcrumb-item>마이페이지</el-breadcrumb-item>
          <el-breadcrumb-item><a @click="goBack">1:1 문의</a></el-breadcrumb-item>
          <el-breadcrumb-item>문의 내역 상세조회</el-breadcrumb-item>
        </el-breadcrumb>
      </template>
      <template #content>
        <div class="text-large font-600 mr-3">문의 내역 상세조회</div>
      </template>
      <template #extra>
        <div class="flex items-center">
          <el-button v-if="!comment" type="danger" class="ml-2" @click="deleteAsk">삭제</el-button>
        </div>
      </template>
      <el-card class=" mt-4" v-if="listDetail" style="height: max-content" :class="{ 'no-hover': true }">
        <template #header>
          <div>내 문의글 <el-tag :type="listDetail.isAnswer === '답변 완료' ? 'success' : 'info'" size="default" class="ml-2">{{ listDetail.isAnswer }}</el-tag></div>
        </template>
        <div class="font-bold">
          {{listDetail.title}}
        </div>
        <div class="mb-4">
          <div class="text-sm text-gray-400">{{ listDetail.dateMemberAsk }}</div>
        </div>
        <div class="mb-2">
          <div class="text item" style="white-space: pre-line;">
            {{ listDetail.content }}
          </div>
        </div>
        <div v-if="listDetail.questionImgUrl !== null">
          <el-image
            style="height: 200px"
            :src="listDetail.questionImgUrl"
            :zoom-rate="1.2"
            :max-scale="7"
            :min-scale="0.2"
            :initial-index="4"
            fit="cover"
            @click="dialogFormVisible1 = true"
          />
        </div>
        <el-dialog v-model="dialogFormVisible1" title="첨부 이미지">
          <div style="text-align: center;">
            <el-image
              :src="listDetail.questionImgUrl"
              fit="contain"
              style="min-height: 100%;"
            />
          </div>
        </el-dialog>
      </el-card>

      <el-card class=" mt-4" v-if="comment" style="height: max-content" :class="{ 'no-hover': true }">
        <template #header>
          <div>답변글</div>
        </template>
        <div class="font-bold">
          {{comment.answerTitle}}
        </div>
        <div class="mb-4">
          <div class="text-sm text-gray-400">{{ comment.dateAnswer }}</div>
        </div>
        <div class="mb-2">
          <div class="text item" style="white-space: pre-line;">
            {{ comment.answerContent }}
          </div>
        </div>
        <div v-if="comment.answerImgUrl !== null">
          <el-image
            style="height: 200px"
            :src="comment.answerImgUrl"
            :zoom-rate="1.2"
            :max-scale="7"
            :min-scale="0.2"
            :initial-index="4"
            fit="cover"
            @click="dialogFormVisible2 = true"
          />
        </div>
        <el-dialog v-model="dialogFormVisible2" title="첨부 이미지">
          <div style="text-align: center;">
            <el-image
              :src="comment.answerImgUrl"
              fit="contain"
              style="min-height: 100%;"
            />
          </div>
        </el-dialog>
      </el-card>
    </el-page-header>
  </div>
</template>
<script setup>
import {useAskStore} from "~/store/askAnswer";
import {storeToRefs} from "pinia";
import {ref} from "vue";

definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '문의글 상세보기'
})

const router = useRouter();

const goBack = () => {
  router.push("/ask/member-ask-list");
}

const store = useAskStore();
const {getDetail} = store
const {delAsk} = store
const {listDetail} = storeToRefs(store);
const {comment} = storeToRefs(store);

await getDetail('${id}').then(() => {
}).catch(() => {
});

const deleteAsk = async () => {
  try {
    await delAsk('$id');
    console.log("삭제 성공");
    goBack()
    alert("삭제 성공")
  } catch (error) {
    console.error("삭제 실패:", error);
  }
};

const dialogFormVisible1 = ref(false);
const dialogFormVisible2 = ref(false);

</script>
