<!--메뉴얼 테이블-->
<template>
  <div>
    <el-page-header @back = "goBack">
      <template #content>
        <div class="text-large font-600 mr-3">메뉴얼 리스트</div>
      </template>
      <template #extra>
        <div class="flex items-center">
          <el-button type="primary" class="ml-2" @click="goCreate">메뉴얼 등록</el-button>
        </div>
      </template>
      <div class="grid grid-cols-24 mt-4">
        <template v-for="item in list" :key="item.id">
          <div class="col-span-12">
            <!-- 새로운 열 시작 -->
            <el-card class="manual" shadow="hover" @mouseover="changeImage" @mouseleave="restoreImage" @click="detail(item.id)">
              <div class="text-main-color-1 flex justify-between items-center">
                <span class="mr-2">
                  <img
                  style="height: 27px"
                  :src=imageSrc
                  alt=""
                />
                </span>
                <span>{{ item.title }}</span>
                <span class="mr-5 text-sm text-gray-400">{{ item.memberName }} {{ item.dateManual }}</span>
              </div>
            </el-card>
          </div>
        </template>
      </div>
    </el-page-header>
    <div class="flex justify-center mt-5">
      <el-pagination background layout="prev, pager, next" :total=totalPage*10 @current-change="handlePageChange" />
    </div>
  </div>
</template>

<style scoped>
.el-card.manual {
  border-radius: 0;
  cursor: pointer;
}

.el-card.manual:hover {
  background-color: #112D4E;
}

.el-card.manual:hover .text-main-color-1 {
  color: #DBE2EF; /* 텍스트 색상 변경 */
}
</style>

<script setup lang="ts">
import {storeToRefs} from "pinia";
import {useManualStore} from "~/store/manual";

definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '메뉴얼 리스트'
})

const store = useManualStore();
const { getManuals } = store
const { list, totalPage } = storeToRefs(store);


await getManuals(1).then(() => {
}).catch(() => {
});

const handlePageChange = (pageNum: number) => {
  getManuals(pageNum);
}

const router = useRouter();
const goBack =() => {
  router.push("/");
}
const detail = (id: number) => {
  router.push(`/manual/detail/${id}`);
}

const goCreate = () => {
  router.push(`/manual/create`);
}
const imageSrc = ref('/images/logo_text_b.png');

const changeImage = () => {
  imageSrc.value = '/images/logo_text_w.png';
};

const restoreImage = () => {
  imageSrc.value = '/images/logo_text_b.png';
};


</script>
