<!--로그인 페이지-->
<template>
  <div class="bg-white flex w-full h-screen text-white justify-center items-center pt-40">
    <div
      class="text-white rounded-t-lg w-96 p-1 h-full"
      :class="{
        'tw-shake': formError,
      }"
    >
      <div
        class="header bg-white dark:bg-gray-900 dark:border-gray-700 text-main-color-1 dark:text-gray-200 p-4 rounded-t"
      >
<!--로고-->
        <img
          class="w-full"
          src="/images/logo.png"
          alt=""
        />
<!--        사업자 페이지임을 알려줘야할지?-->
<!--        <div class="flex justify-center font-bold">내 알바야 사업자 전용 페이지</div>-->
      </div>

      <TwForm
        ref="formLogin"
        name="login"
        :rules="{
          username: ['required'],
          password: ['required'],
        }"
        @submit="login"
        class="body bg-white dark:bg-gray-900 p-4 rounded-b-lg"
      >
        <div class="grid grid-cols-12 gap-2">
          <div class="text-main-color-1 ml-1 text-sm">id</div>
          <div class="col-span-12">
            <el-input
              class="dark:text-gray-200"
              v-model="formData.username"
              name="username"
              placeholder="아이디를 입력해주세요."
            />
            <TwErrorMessage name="username"></TwErrorMessage>
          </div>
          <div class="col-span-12">
            <div class="text-main-color-1 ml-1 mb-1 text-sm ">password</div>
            <el-input
              class="dark:text-gray-200"
              v-model="formData.password"
              name="password"
              type="password"
              placeholder="비밀번호를 입력해주세요."
            />
            <TwErrorMessage name="password"></TwErrorMessage>
          </div>
          <div class="col-span-12">
            <el-button class="w-full text-center" @click="login" style="background-color: #112D4E; color: #DBE2EF; height: 40px">
              로그인
            </el-button>
          </div>
        </div>
      </TwForm>
      <TwForm
        ref="formJoin"
        name="join"
        @submit="join"
        class="body bg-white dark:bg-gray-900 p-4 rounded-b-lg"
      >
        <div class="col-span-12">
          <el-button class="w-full text-center bg-main-color-2 " style="height: 40px;">
            회원가입
          </el-button>
        </div>
      </TwForm>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useToast, TwButton, TwErrorMessage, TwForm, TwInput } from "vue3-tailwind";
import { useAuthStore } from "~/store/auth";
import { storeToRefs } from 'pinia';

const { authenticateUser } = useAuthStore();
const { authenticated } = storeToRefs(useAuthStore());
const router = useRouter();

// front레이아웃 사용
definePageMeta({
  layout: "front",
});

//head타이틀
useHead({
  title: "로그인",
});

const toast = useToast();
const formLogin = ref();
const formError = ref(false);
const formJoin = ref();


// 이름 / 힌트 text
const formData = ref({
  username: "",
  password: "",
});


//로그인 폼 및 로그인 프로세스
const login = async () => {
  await authenticateUser(formData.value);
  if (authenticated.value)
  {
    const token = useCookie('token');
    const router = useRouter();
    router.push('/');
  }
  // const validator = formLogin.value.validator();
  // validator.clearErrors();
  // await validator.validate();
  // if (validator.fail()) {
  //   toast.error({
  //     message: validator.getErrorMessage(),
  //   });
  //
  //   toggleFormError();
  //   return;
  // }
//
//   //아이디 neaalbayaa 비밀번호 password 인 경우에만 로그인 가능함
//   if (
//     !(formData.value.username === "neaalbayaa" && formData.value.password === "password")
//   ) {
//     // 에러시 메세지
//     toast.error({
//       message: "Id & Password combination missmatch",
//       lifetime: 3000,
//     });
//
//     toggleFormError();
//     return;
//   }
//
//   const router = useRouter();
//   // 성공시 메세지
//   toast.success({
//     message: "Loggin success, youre being redirected",
//     lifetime: 1000,
//   });
//   // 메세지 노출 시간
//   setTimeout(() => {
//     router.push("/");
//   }, 1000);
};

//회원가입 프로세스
const join = async () => {
  const router = useRouter();
  // 넘어가는 시간
  setTimeout(() => {
    router.push("/join");
  }, 100);
};


//에러 메세지 관리
const toggleFormError = () => {
  formError.value = true;
  setTimeout(() => {
    formError.value = false;
  }, 1250);
};
</script>
