<!--공지사항 테이블-->

<template>
  <div>
    <el-page-header @back="goBack">
      <template #breadcrumb>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">
            main
          </el-breadcrumb-item>
          <el-breadcrumb-item>마이페이지</el-breadcrumb-item>
          <el-breadcrumb-item>공지사항</el-breadcrumb-item>
        </el-breadcrumb>
      </template>
      <template #content>
        <div class="text-large font-600 mr-3">공지사항</div>
      </template>
      <div class="text-center">
        <div class="table-css-edit">
          <TwDatatableClient
            class="!dark:text-gray-200"
            :column="data.column"
            :data="list"
          >
            <template #row="{ column, data }">
            <template v-if="column.field === 'action'">
              <div>
                <el-button type="primary" plain @click="detail(data.id)">상세보기</el-button>
              </div>
            </template>
            </template>
            <template #empty>
              <div class="bg-white dark:bg-gray-800 text-center w-full">데이터가 없습니다.</div>
            </template>

          </TwDatatableClient>
        </div>
        <hr class="my-2 dark:border-gray-700"/>
      </div>
    </el-page-header>
    <div class="flex justify-center mt-5">
      <el-pagination background layout="prev, pager, next" :total=totalPage*10 @current-change="handlePageChange" />
    </div>
  </div>
</template>

<script setup lang="ts">

import {ref} from "vue";
import {TwDatatableClient} from "vue3-tailwind";
import {useNoticeStore} from "~/store/notice";
import {storeToRefs} from "pinia";

const router = useRouter();
const store = useNoticeStore();
const {getNotice} = store
const {list, totalPage} = storeToRefs(store)

definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '공지사항'
})


await getNotice(1).then(() => {
}).catch(() => {
});

const handlePageChange = (pageNum: number) => {
  getNotice(pageNum);
}

const goBack = () => {
  router.push("/");
}

const detail = (id: number) => {
  router.push(`/notice/detail/${id}`);
}

const data = ref({
  column: [
    {
      label: "제목",
      field: "title",
      width: "100px",
    },
    {
      label: "작성일",
      field: "dateNotice",
      width: "50px",
    },
    {
      label: "",
      field: "action",
      width: "10px",
    },
  ],
});


</script>
