<template>
  <!--spacing border:테두리 간격 제어-->
  <header
    class="md:flex w-full text-gray-200 border-spacing border-t-0 bg-main-color-1 p-2.5 md:sticky md:top-0 z-20"
  >
    <div
      class="h-14 flex justify-between md:justify-start items-center w-full md:w-100 px-4"
    >
      <!--메인 헤더 -->
      <button @click="goMain">
        <img
          class="w-35 h-10 mr-2"
          src="/images/logo_text_w.png"
          alt=""
        />
      </button>
      <div class="font-bold vt-text-xl" v-if="businessInfo">{{businessInfo.businessName}}</div>
      <button
        class="block md:hidden float-right"
        @click="sidebarStore.mobileOpen = !sidebarStore.mobileOpen"
      >
        <div class="-rotate-90">
          <TwFeather type="bar-chart-2"></TwFeather>
        </div>
      </button>
    </div>
    <!--사이드바 선택 시 애니메이션 효과-->
    <transition
      name="expand"
      @enter="animationOpenClose.animateEnter"
      @after-enter="animationOpenClose.animateAfterEnter"
      @leave="animationOpenClose.animateLeave"
    >
      <div class="block md:hidden" v-show="sidebarStore.mobileOpen">
        <LayoutMobileNav />
      </div>
    </transition>
    <div class="h-14 flex items-center w-full justify-between px-4 md:px-10">
      <div class="">
        <!-- TODO: Add searchbar -->
      </div>
      <div class="">
        <!--헤더 사용자 이미지-->
        <TwDropdownMenu align="right" width="48">
          <template #trigger>
            <button>
              <img
                class="w-10 h-10 rounded-full border border-[#1d152a7a]"
                src="/images/profile_icon.png"
                alt=""
              />
            </button>
          </template>
          <!--헤더 사용자 이미지 클릭시 나오는 내용-->
          <template #content>
              <NuxtLink to="/profile">
              <button
                class="block w-full px-4 py-2 text-sm leading-5 text-gray-700 dark:text-gray-200 text-left hover:bg-gray-100 dark:hover:bg-gray-900 focus:outline-none focus:bg-gray-100 dark:focus:bg-gray-800 transition"
              >
                <div class="flex gap-2 items-center">
                  <TwFeather type="user" />
                  <div class="">내 정보</div>
                </div>
              </button>
            </NuxtLink>
            <TwButton
              v-if="authenticated"
              @click="logout"
              variant="none"
              icon="log-out"
              class="block w-full px-4 py-2 text-sm leading-5 text-gray-700 dark:text-gray-200 text-left hover:bg-gray-100 dark:hover:bg-gray-900 focus:outline-none focus:bg-gray-100 dark:focus:bg-gray-800 transition"
            >
              로그아웃
            </TwButton>
          </template>
        </TwDropdownMenu>
      </div>
    </div>
  </header>
</template>

<style scoped>
.expand-enter-active,
.expand-leave-active {
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
</style>

<script setup lang="ts">
import { TwButton, TwDropdownMenu, TwFeather } from "vue3-tailwind";
import { useSidebarStore } from "~~/store/sidebar";
import {useAuthStore} from "~/store/auth";
import {storeToRefs} from "pinia";
import {useBusinessStore} from "~/store/businessInfo";

const store = useBusinessStore();
const { getBusinessInfo } = useBusinessStore();
const {businessInfo} = storeToRefs(store);

const sidebarStore = useSidebarStore();
const animationOpenClose = useAnimationOpenClose();

const router = useRouter();

const { logUserOut } = useAuthStore();
const { authenticated } = storeToRefs(useAuthStore());

const goMain = () => {
  router.push("/");
}

const logout = () => {
  logUserOut();
  router.push("/login");
};

await getBusinessInfo().then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
})

</script>
