<!--사이드바 css-->
<script setup lang="ts">
const router = useRouter();
const goMain = () => {
  router.push("/");
}
</script>

<template>
  <nav class="hidden md:block lg:w-64 sm:w-32 text-md text-main-color-1 pl-3 pr-6 h-full rounded-3xl sticky top-10 ">
    <div class="w-20 h-4 bg-transparent"></div>
    <button @click="goMain" title="main">
      <img
        class="w-full"
        src="/images/logo.png"
        alt=""
      />
    </button>
    <LayoutSidebarList />
  </nav>
</template>


