<!--직원 조회 테이블-->
<template>
  <div>
    <!--브래드 메뉴-->
    <el-page-header @back="goBack">
      <template #breadcrumb>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">
            main
          </el-breadcrumb-item>
          <el-breadcrumb-item>직원 관리</el-breadcrumb-item>
          <el-breadcrumb-item>직원 조회</el-breadcrumb-item>
        </el-breadcrumb>
      </template>

      <!--페이지 title-->
      <template #content>
        <div class="flex items-center">
          <span class="text-large font-600 mr-3"> 직원 조회 </span>
        </div>
      </template>

      <!--직원 등록 버튼-->
      <template #extra>
        <div class="flex items-center">
          <el-button type="primary" class="ml-2" @click="dialogFormVisible = true">직원 등록</el-button>
        </div>

        <!--버튼 누를 시 dialog 팝업-->
        <el-dialog v-model="dialogFormVisible" title="직원 등록" width="400">
          <el-form
            label-width="auto"
            :model="formLabelAlign"
            :rules="rules"
            style="max-width: 400px">
            <!--전화번호, 직원유형, 메모 필드 값 입력-->
            <el-form-item label="전화번호" prop="phoneNumber">
              <el-input v-model="formLabelAlign.phoneNumber" placeholder="전화번호를 입력해주세요."/>
            </el-form-item>
            <el-form-item label="직원 유형" prop="position">

              <!--각 필드에 해당하는 value 값 설정-->
              <el-select
                v-model="formLabelAlign.position"
                placeholder="선택해주세요">
                <el-option label="공동대표" value="TEAM_TOP"/>
                <el-option label="매니저" value="MANAGER"/>
                <el-option label="팀리더" value="TEAM_LEADER"/>
                <el-option label="월급제 알바생" value="SENIOR_STAFF"/>
                <el-option label="시급제 알바생" value="STAFF"/>
              </el-select>
            </el-form-item>
            <el-form-item label="메모" prop="etc">
              <el-input v-model="formLabelAlign.etc" placeholder="메모사항"/>
            </el-form-item>
          </el-form>
          <!--dialog footer 부분-->
          <template #footer>
            <div class="dialog-footer">
              <el-button @click="dialogFormVisible = false">취소</el-button>
              <el-button type="primary" @click="submit">
                등록
              </el-button>
            </div>
          </template>
        </el-dialog>
      </template>
      <!--테이블 내용-->
      <div class="text-center">
        <div class="table-css-edit">
          <TwDatatableClient
            class="!dark:text-gray-200"
            :column="data.column"
            :data="MemberList"
          >
            <!--행내용-->
            <template #row="{ column, data }">
              <!--이름 필드-->
              <template v-if="column.field === 'memberName'">
                <div>
                  {{ data.memberName }}
                  <!--근무여부태그-->
                  <el-tag :type="data.isWork=== '재직중' ? 'primary' : 'info'" size="default" class="ml-2">
                    {{ data.isWork }}
                  </el-tag>
                </div>
              </template>
              <!--액션필드-->
              <template v-if="column.field === 'action'">
                <!--weekSchedule가 null이 아니라면 직원 상세보기-->
                <template v-if="data.weekSchedule !== null">
                  <el-button type="primary" plain @click="detail(data.id)">상세 보기</el-button>
                </template>
                <!--weekSchedule가 null이라면 근무 등록하기-->
                <template v-else>
                  <!--근무등록 안내 문구-->
                  <el-popover
                    placement="right"
                    title="근무 등록"
                    :width="200"
                    trigger="hover"
                    content="직원의 스케쥴을 먼저 등록해주세요.">
                    <template #reference>
                      <el-button type="info" plain @click="addSchedule(data.id)">근무 등록</el-button>
                    </template>
                  </el-popover>
                </template>
              </template>
            </template>
            <!--직원 리스트가 없을 경우 빈 데이터 표시-->
            <template #empty>
              <div class="bg-white dark:bg-gray-800 text-center w-full">데이터가 없습니다.</div>
            </template>
          </TwDatatableClient>
        </div>
        <hr class="my-2 dark:border-gray-700"/>
      </div>
    </el-page-header>
    <div class="flex justify-center mt-5">
      <el-pagination background layout="prev, pager, next" :total=totalPage*10 @current-change="handlePageChange" />
    </div>
  </div>
</template>


<script setup lang="ts">
import {ref} from "vue";
import {TwDatatableClient} from "vue3-tailwind";
import {storeToRefs} from "pinia";
import {useBusinessMemberStore} from "~/store/businessMember";
import type {IBusinessMemberAdd} from "~/interface";
import type {FormProps, FormRules} from "element-plus";

//페이지 메타 데이터 정의
definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '직원 리스트'
})

//vue 라우터 사용
const router = useRouter();

//Pinia 스토어 사용
const store = useBusinessMemberStore();
const {getMember} = store
const {MemberList, totalPage} = storeToRefs(store);


await getMember(1).then(() => {
}).catch(() => {
});

// 직원 상세 페이지로 이동
const detail = (id: number) => {
  router.push(`detail/${id}`);
}

const addSchedule = (id: number) => {
  router.push(`/business/schedule/detail/${id}`);
}


// 홈으로 이동
const goBack = () => {
  router.push("/");
}

// 테이블의 column 데이터
const data = ref({
  column: [
    {
      label: "직원유형",
      field: "position",
      width: "50px",
      sortable: true,
    },
    {
      label: "이름",
      field: "memberName",
      width: "50px",
      sortable: true,
    },
    {
      label: "근무 요일",
      field: "weekSchedule",
      width: "80px",
      sortable: true,
    },
    {
      label: "입사일",
      field: "dateIn",
      width: "50px",
      sortable: true,
    },

    {
      label: "비고",
      field: "etc",
      width: "100px",
      sortable: false,
    },
    {
      label: "",
      field: "action",
      width: "50px",
      sortable: false,
    },

  ],
});

// 다이얼로그 표시 여부
const dialogFormVisible = ref(false);


// formLabelAlign 의 데이터 값
const formLabelAlign = reactive<IBusinessMemberAdd>({
  phoneNumber: '',
  position: '',
  etc: '',
})


const rules = reactive<FormRules>({
  phoneNumber: [
    {type: 'string', required: true, message: '전화번호는 필수 값입니다.', trigger: 'change'},
    {min: 13, max: 13, message: '010-0000-0000 형식으로 작성해주세요', trigger: 'change'},
  ],
  position: [
    {
      type: 'string',
      required: true,
      message: '직원 유형을 선택해주세요.',
      trigger: 'change',
    },
  ],
  etc: [
    {
      type: 'string',
      required: false,
      message: '직원 유형을 선택해주세요.',
      trigger: 'change',
    },
  ],
})

const submit = () => {
  const payload = {
    phoneNumber: formLabelAlign.phoneNumber,
    position: formLabelAlign.position,
    etc: formLabelAlign.etc
  }

  store.setAddMember(payload).then(() => {
    alert("직원 등록이 되었습니다.")
    dialogFormVisible.value = false
    location.reload()
  }).catch(() => {

  })
}

const handlePageChange = (pageNum: number) => {
  getMember(pageNum);
}


</script>
