<template>
  <div>
    <el-page-header @back="goBack">
      <template #breadcrumb>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">
            main
          </el-breadcrumb-item>
          <el-breadcrumb-item>근무 일정 등록</el-breadcrumb-item>
        </el-breadcrumb>
      </template>
      <template #content>
        <div class="text-large font-600 mr-3" v-if="MemberDetail">{{ MemberDetail.memberName }}님의 근무 일정 등록</div>
      </template>
      <template #extra>
        <el-button type="primary" @click="submitUpload">
          등록하기
        </el-button>
      </template>
      <el-table :data="tableData" style="width: 100%" :height="tableHeight">
        <el-table-column prop="weekSchedule" label="근무요일" width="300">
          <template #default="scope">
            <el-select
              v-model="scope.row.weekSchedule"
              placeholder="근무 요일"
              clearable>
              <el-option label="월요일" value="월"/>
              <el-option label="화요일" value="화"/>
              <el-option label="수요일" value="수"/>
              <el-option label="목요일" value="목"/>
              <el-option label="금요일" value="금"/>
              <el-option label="토요일" value="토"/>
              <el-option label="일요일" value="일"/>
            </el-select>
          </template>
        </el-table-column>
        <el-table-column prop="timeScheduleStart" label="출근시간" width="300">
          <template #default="scope">
            <el-time-select
              v-model="scope.row.timeScheduleStart"
              :max-time="startTime"
              placeholder="출근시간"
              start="00:00"
              step="00:15"
              end="24:00"
            />
          </template>
        </el-table-column>
        <el-table-column prop="timeScheduleEnd" label="퇴근시간" width="300">
          <template #default="scope">
            <el-time-select
              v-model="scope.row.timeScheduleEnd"
              :max-time="endTime"
              placeholder="퇴근시간"
              start="00:00"
              step="00:15"
              end="24:00"
            />
          </template>
        </el-table-column>
        <el-table-column prop="timeScheduleTotal" label="일 근무시간" width="300">
          <template #default="scope">
            <el-input v-model="scope.row.timeScheduleTotal" placeholder="일 근무시간"/>
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="" width="100">
          <template #default="scope">
            <el-button
              link
              type="primary"
              size="small"
              @click.prevent="deleteRow(scope.$index)"
            >
              삭제
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-button class="mt-4" style="width: 100%" @click="onAddItem">
        근무 추가하기
      </el-button>
    </el-page-header>
  </div>

</template>

<script lang="ts" setup>
import {ref, computed} from 'vue'
import {storeToRefs} from "pinia";
import {useBusinessMemberStore} from "~/store/businessMember";

const router = useRouter()

const goBack = () => {
  router.push("/business/member/table");
}

const startTime = ref('')
const endTime = ref('')

const store = useBusinessMemberStore()
const {getDetail} = store
const {MemberDetail, weekSchedule, timeScheduleStart, timeScheduleEnd, timeScheduleTotal} = storeToRefs(store);

const tableData = ref<{
  weekSchedule: string,
  timeScheduleStart: string,
  timeScheduleEnd: string,
  timeScheduleTotal: string
}[]>([]);

getDetail('${id}').then(() => {
  if (MemberDetail.value) {
    // 데이터 ','로 분리, 배열로
    // 기존 데이터 값이 있다면,
    // @기준으로 파싱해서 데이터 넣어야한다. 반복문 처리필요(?)
    // @기준으로 split???
    const weekScheduleArray = MemberDetail.value.weekSchedule.split(',');
    const timeStartScheduleArray = MemberDetail.value.timeScheduleStart.split(',');
    const timeEndScheduleArray = MemberDetail.value.timeScheduleEnd.split(',');
    const timeTotalScheduleArray = MemberDetail.value.timeScheduleTotal.split(',');
    // ,기준으로 파싱한 데이터 tableData에 추가
    tableData.value = weekScheduleArray.map((day:string, index:number) => ({
      weekSchedule: day,
      timeScheduleStart: timeStartScheduleArray[index] || '',
      timeScheduleEnd: timeEndScheduleArray[index] || '',
      timeScheduleTotal: timeTotalScheduleArray[index] || '',
    }));
  } else {
    tableData.value = [];
  }
}).catch(() => {
});

// 버튼 눌렀을 때 생성되는 빈 필드값
// 불러오는 데이터가 아닌 새로 생성되는 테이블 인풋임
const onAddItem = () => {
  tableData.value.push({
    weekSchedule: '',
    timeScheduleStart: '',
    timeScheduleEnd: '',
    timeScheduleTotal: '',
  });
};

//row 데이터 추가되면 그에 맞게 높이 연장되는 것
const tableHeight = computed(() => {
  const numRows = tableData.value.length
  const rowHeight = 50
  const headerHeight = 50
  return numRows * rowHeight + headerHeight + 'px'
})

// row 삭제
const deleteRow = (index: number) => {
  tableData.value.splice(index, 1)
}

//데이터 보내기
// row 데이터 값(기존값이든 새로 추가한 값이든 입력되어있는 값)만 서버로 보내야 함.
// 단 모든 필드(row) 값이 있어야 위의 조건이 성립됨
//받은 데이터는 각 필드별 데이터 뒤에 +@ 처리해서 한개의 데이터 cell?에 넣어야한다. (put 맵핑)
//ex) 월@화@수@ 이런식으로 보내는 값 뒤에 @ 붙이면서 모든 값 이어붙여야함 ..

const submitUpload = () => {
  const payload = {
    // 각 요소를 돌면서 @를 추가한 값으로 만들어...
    weekSchedule: tableData.value.map(row => row.weekSchedule + '@').join(''),
    timeScheduleStart: tableData.value.map(row => row.timeScheduleStart + '@').join(''),
    timeScheduleEnd: tableData.value.map(row => row.timeScheduleEnd + '@').join(''),
    timeScheduleTotal: tableData.value.map(row => row.timeScheduleTotal + '@').join(''),
  }
  store.putSchedule(payload, '${id}').then(() => {
    alert("근무 스케쥴 등록하였습니다.")
    goBack()
  }).catch(() => {
    console.log("스케쥴 등록 실패ㅋㅋㅋ.ㅋ.ㅋ.ㅋ")
  })
}
</script>
