<template>
  <div>
    <el-page-header @back="goBack">
      <template #breadcrumb>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">
            main
          </el-breadcrumb-item>
          <el-breadcrumb-item><a @click="goBack">메뉴얼 리스트</a></el-breadcrumb-item>
          <el-breadcrumb-item>메뉴얼 상세조회</el-breadcrumb-item>
        </el-breadcrumb>
      </template>
      <template #content>
        <div class="text-large font-600 mr-3">메뉴얼 상세조회</div>
      </template>
      <el-row>
      <el-card class="mr-4 mt-4" style="flex: 1;" :class="{ 'no-hover': true }" >
        <el-col :span="24">
          <div class="mb-4">
            <div class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 70px;">제목</div>
            <div>{{ detail.title }}</div>
            <div class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 70px;">작성일</div>
            <div>{{ detail.dateManual }}</div>
            <div class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 70px;">작성자</div>
            <div>{{ detail.memberName }}</div>
          </div>
        </el-col>
      </el-card>
      <el-card class="mt-4" style="flex: 2;" :class="{ 'no-hover': true }">
        <el-col :span="24">
          <div class="mb-4">
            <div class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 70px;">내용</div>
            <div class="contents-height" style="white-space: pre-line;">{{ detail.content }}</div>
          </div>
        </el-col>
      </el-card>
      </el-row>
      <el-card v-if="detail.manualImgUrl !== null" class="mt-4">
          <!-- 첫 번째 행 -->
          <el-col :span="24">
            <div>
              <div class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 70px;">첨부 파일</div>
              <div>
                <el-image
                  style="height: 200px"
                  :src="detail.manualImgUrl"
                  :zoom-rate="1.2"
                  :max-scale="7"
                  :min-scale="0.2"
                  :initial-index="4"
                  fit="cover"
                  @click="dialogFormVisible = true"
                />
              </div>
              <el-dialog v-model="dialogFormVisible" title="첨부 이미지">
                <div style="text-align: center;">
                  <el-image
                    :src="detail.manualImgUrl"
                    fit="contain"
                    style="min-height: 100%;"
                  />
                </div>
              </el-dialog>
            </div>
          </el-col>
      </el-card>
    </el-page-header>
  </div>
</template>

<style>
.no-hover {
  pointer-events: none;
}
</style>

<script setup>
import {storeToRefs} from "pinia";
import {ref} from "vue";
import {useManualStore} from "~/store/manual";

definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '메뉴얼 상세보기'
})

const router = useRouter();

const goBack = () => {
  router.push("/manual");
}

const store = useManualStore();
const {getDetail} = store
const {detail} = storeToRefs(store);

await getDetail('${id}').then(() => {
}).catch(() => {
});

const dialogFormVisible = ref(false);

</script>
