<!--재고관리 테이블-->
<template>
  <div>
    <!--    헤더 라우터 및 제목 부분-->
    <el-page-header @back="goBack">
      <template #content>
        <div class="text-large font-600 mr-3"> 상품 재고 리스트</div>
      </template>
      <template #extra>
        <div class="flex items-center">
          <el-button type="primary" class="ml-2" @click="dialogFormVisible = true">새로운 상품 등록</el-button>
        </div>

        <!--버튼 누를 시 dialog 팝업-->
        <el-dialog v-model="dialogFormVisible" title="상품 등록" width="400">
          <el-form
            label-width="auto"
            :model="form"
            :rules="rules"
            style="max-width: 400px">
            <!--전화번호, 직원유형, 메모 필드 값 입력-->
            <el-form-item label="상품명" prop="productName">
              <el-input v-model="form.productName" placeholder="상품명을 입력해주세요."/>
            </el-form-item>
            <el-form-item label="최소 수량" prop="minQuantity">
              <el-input v-model="form.minQuantity" placeholder="최소수량을 입력해주세요."/>
            </el-form-item>
            <el-form-item label="현재 수량" prop="nowQuantity">
              <el-input v-model="form.nowQuantity" placeholder="현재수량을 입력해주세요."/>
            </el-form-item>
          </el-form>
          <!--dialog footer 부분-->
          <template #footer>
            <div class="dialog-footer">
              <el-button @click="dialogFormVisible = false">취소</el-button>
              <el-button type="primary" @click="submit">
                등록
              </el-button>
            </div>
          </template>
        </el-dialog>
      </template>
      <div class="text-center">
        <div class="table-css-edit">
          <TwDatatableClient
            class="!dark:text-gray-200"
            :column="data.column"
            :data="list"
          >
            <template #row="{ column, data }">
              <template v-if="column.field === 'action'">
                <div class="items-center">
                  <el-button type="primary" @click="editProduct(data)">수정</el-button>
                  <el-button type="danger" class="ml-2" @click="deleteProduct(data)">삭제</el-button>
                </div>
              </template>
            </template>
            <template #empty>
              <div class="bg-white dark:bg-gray-800 text-center w-full">데이터가 없습니다.</div>
            </template>
          </TwDatatableClient>
        </div>
        <hr class="my-2 dark:border-gray-700"/>
      </div>
      <el-dialog v-model="editDialogVisible" title="상품 재고 수정" width="30%">
        <el-form :model="editForm" :rules="editRules" ref="editFormRef" label-width="120px">
          <el-form-item label="상품명" prop="productName">
            <el-input v-model="editForm.productName" placeholder="상품명을 입력하세요"/>
          </el-form-item>
          <el-form-item label="최소 수량" prop="minQuantity">
            <el-input v-model="editForm.minQuantity" placeholder="최소 수량을 입력하세요"/>
          </el-form-item>
          <el-form-item label="현재 수량" prop="nowQuantity">
            <el-input v-model="editForm.nowQuantity" placeholder="현재 수량을 입력하세요"/>
          </el-form-item>
        </el-form>
        <template #footer>
          <span><el-button @click="editDialogVisible = false">취소</el-button></span>
          <span><el-button type="primary" @click="updateProduct(dialogProductId.value)">완료</el-button></span>
        </template>
      </el-dialog>
    </el-page-header>
    <div class="flex justify-center mt-5">
      <el-pagination background layout="prev, pager, next" :total=totalPage*10 @current-change="handlePageChange" />
    </div>
  </div>

</template>

<script setup lang="ts">
import {ref} from "vue";
import {TwButton, TwDatatableClient, TwModal} from "vue3-tailwind";
import {useProductStore} from "~/store/product";
import {storeToRefs} from "pinia";
import type {FormRules} from "element-plus";

definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '상품 재고 리스트'
})

const router = useRouter();

const store = useProductStore();
const {getProducts, getDetail, putProduct, delProduct} = store
const {list, totalPage} = storeToRefs(store)




await getProducts(1).then(() => {
  console.log("상품 리스트 가져오기 성공")
}).catch(() => {
  console.log("상품 리스트 가져오기 실패")
})

const productAdd = () => {
  router.push("/product/product-add");
}
const data = ref({
  column: [
    {
      label: "제품",
      field: "productName",
      width: "200px",
      sortable: true,
    },
    {
      label: "최소수량",
      field: "minQuantity",
      width: "80px",
      sortable: true,
    },
    {
      label: "현재수량",
      field: "nowQuantity",
      width: "80px",
      sortable: true,
    },
    {
      label: "수정일",
      field: "dateProduct",
      width: "100px",
      sortable: true,
    }, {
      label: "수정자",
      field: "memberName",
      width: "100px",
      sortable: true,
    },
    {
      label: "",
      field: "action",
      width: "100px",
      sortable: false,
    },

  ],
});

const goBack = () => {
  router.push("/");
}

// 다이얼로그 표시 여부
const dialogFormVisible = ref(false);

const rules = reactive<FormRules>({
  productName: [
    {type: 'string', required: true, message: '필수 값입니다.', trigger: 'change'},
  ],
  minQuantity: [
    {
      type: 'number',
      required: true,
      message: '최소 수량을 입력해주세요.',
      trigger: 'change',
    },
  ],
  nowQuantity: [
    {
      type: 'number',
      required: true,
      message: '현재 수량을 입력해주세요',
      trigger: 'change',
    },
  ],
})

const form = reactive({
  productName: '',
  minQuantity: '',
  nowQuantity: '',
})


const submit = () => {
  const payload = {
    productName: form.productName,
    minQuantity: form.minQuantity,
    nowQuantity: form.nowQuantity,
  }
  store.setProduct(payload).then(() => {
    console.log("성공")
    alert("상품 등록 완료!")
    dialogFormVisible.value = false;
    location.reload();
  }).catch(() => {
    console.log("실패")
  })
}

const editDialogVisible = ref(false);

const editForm = ref({
  productName: "",
  minQuantity: 0,
  nowQuantity: 0,
});

const editRules = ref({
  productName: [{required: true, message: "상품명을 입력하세요", type:'string', trigger: "blur"}],
  minQuantity: [{required: true, message: "최소 수량을 입력하세요", type:'string', trigger: "blur"}],
  mowQuantity: [{required: true, message: "현재 수량을 입력하세요", type:'string', trigger: "blur"}],
});

let dialogProductId = ref("");

const editProduct = (item) => {
  editForm.value.productName = item.productName;
  editForm.value.minQuantity = item.minQuantity;
  editForm.value.nowQuantity = item.nowQuantity;
  dialogProductId.value = item.id;
  editDialogVisible.value = true;
};

const updateProduct = async () => {
  const payload = {
    productName: editForm.value.productName,
    minQuantity: editForm.value.minQuantity,
  };
  const payloadNow = {
    nowQuantity: editForm.value.nowQuantity,
  };

  try {
    await store.putProduct(payload, dialogProductId.value);
    await store.setProductEdit(payloadNow, dialogProductId.value);
    location.reload();
    alert("상품 수정이 완료되었습니다.");
  } catch (error) {
    console.error("상품 수정에 실패하였습니다:", error);
  }
};

const handlePageChange = (pageNum: number) => {
  getProducts(pageNum);
}

const deleteProduct = async (item) => {
  try {
    await delProduct(item.id);
    location.reload();
    alert(item.productName+" 삭제 성공")
  } catch (error) {
    console.error("삭제 실패:", error);
  }
};

</script>
