@import url('../fonts/roboto.css');
@import url('./reset.css');
@import url('./sidebar.css');
@import url('./tooltip.css');
@import url('./skeleton.css');
@import url('./scrollbar.css');
@import url('./package.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


/*몇개씩보기*/
div.table-css-edit > div > div:nth-child(1) > div:nth-child(1) {
  display: none;
}
/*검색바*/
div.table-css-edit > div > div:nth-child(1) > div:nth-child(2) {
  display: none;
}

/*th*/
div.table-css-edit > div > div:nth-child(2) th {
  padding: 5px;
  background-color: #DBE2EF;
  height: 40px;
  vertical-align: center;
  font-size: large;
}

/*td*/
div.table-css-edit > div > div:nth-child(2) td {
  padding: 12px;
  border-radius: 0;
  background-color: #F9F7F7;
  vertical-align: center;

}

/*tr 타이틀*/
div.table-css-edit > div > div:nth-child(2) tr {
  height: 5px;
  color: #112D4E;
  border-bottom: 3px;
  font-size: 16px;

}

/*테이블*/
div.table-css-edit > div > div:nth-child(2) table {
  border-spacing: 0 0;
}

/*몇개중 몇번째 페이지인지 보이는 부분*/
div.table-css-edit > div > div:nth-child(3) > div > div:nth-child(1) {
  display: none;
}


div.table-css-edit > div > div:nth-child(3) > div > div:nth-child(2) {
  display: none;
}

.vt-tw-datatable .sorting:before {
  top: 0.7rem!important;
}
.vt-tw-datatable .sorting:after {
  top: 1rem!important;
}


div.calender-setting > div > div:nth-child(2) {
  height: 100%;
  color: #112D4E;
}

div.calender-setting > div > div:nth-child(2) > table > tbody {
  height: 20vh;
}

div.calender-setting > div > div:nth-child(2) > table > tbody > tr > td > div{
  height: 134.25px;
}
