<!--회원정보조회-->
<template>
  <div>
    <el-page-header @back="goBack">
      <template #breadcrumb>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">
            main
          </el-breadcrumb-item>
          <el-breadcrumb-item>마이페이지</el-breadcrumb-item>
          <el-breadcrumb-item>내 정보</el-breadcrumb-item>
        </el-breadcrumb>
      </template>
      <template #content>
        <div class="flex items-center">
          <span class="text-large font-600 mr-3"> 내 정보 </span>
          <el-tag>인증완료</el-tag>
        </div>
      </template>
      <el-card class="profile">
        <template #header>
          <div class="flex justify-between items-center">
            <span>기본 정보</span>
            <span>
            <el-button class="mr-5" type="primary" text @click="">
              기본 정보 수정
            </el-button>
          </span>
          </div>
        </template>
        <el-row :gutter="10">
          <!-- 첫 번째 열 -->
          <el-col :span="12">
            <div>
              <span class="text-sm text-gray-400" style="display: inline-block; width: 70px;">이름</span>
              <span class="text item">{{ MyInfo.name }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 70px;">성별</span>
              <span class="text item">{{ MyInfo.isMan }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 70px;">전화번호</span>
              <span class="text item">{{ MyInfo.phoneNumber }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 70px;">가입일자</span>
              <span class="text item">{{ MyInfo.dateMember }}</span>
            </div>
          </el-col>

          <!-- 두 번째 열 -->
          <el-col :span="12">
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 70px;">회원 유형</span>
              <span class="text item">{{ MyInfo.memberType }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 70px;">생년월일</span>
              <span class="text item">{{ MyInfo.dateBirth }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 70px;">아이디</span>
              <span class="text item">{{ MyInfo.username }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 70px;">주소</span>
              <span class="text item">{{ MyInfo.address }}</span>
            </div>
          </el-col>
        </el-row>
      </el-card>
      <!-- 사업장정보 -->
      <el-card class="profile">
        <template #header>
          <div class="flex justify-between items-center">
            <span>사업장 정보</span>
            <span>
            <el-button class="mr-5" type="primary" text @click="goBusinessEdit">
              사업장 정보 수정
            </el-button>
          </span>
          </div>
        </template>
        <el-row :gutter="10">
          <!-- 첫 번째 열 -->
          <el-col :span="12">
            <div>
              <span class="text-sm text-gray-400" style="display: inline-block; width: 110px;">상호명</span>
              <span class="text item">{{ businessInfo.businessName }}</span>
              <el-tag size="small" class="mx-2">{{ businessInfo.isActivity }}</el-tag>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 110px;">대표자명</span>
              <span class="text item">{{ businessInfo.ownerName }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 110px;">사업자 등록 일자</span>
              <span class="text item">{{ businessInfo.dateJoinBusiness }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 110px;">업종</span>
              <span class="text item">{{ businessInfo.businessType }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 110px;">사업장 소재지</span>
              <span class="text item">{{ businessInfo.businessLocation }}</span>
            </div>
          </el-col>

          <!-- 두 번째 열 -->
          <el-col :span="12">
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 110px;">사업자 번호</span>
              <span class="text item">{{ businessInfo.businessNumber }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 110px;">이메일</span>
              <span class="text item">{{ businessInfo.businessEmail }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 110px;">사업장 전화번호</span>
              <span class="text item">{{ businessInfo.businessPhoneNumber }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 110px;">승인일자</span>
              <span class="text item">{{ businessInfo.dateApprovalBusiness }}</span>
            </div>
            <div>
              <span class="text-sm text-gray-400 mt-2" style="display: inline-block; width: 110px;">실 근무지 주소</span>
              <span class="text item">{{ businessInfo.reallyLocation }}</span>
            </div>
          </el-col>
        </el-row>
      </el-card>
    </el-page-header>
  </div>
</template>

<style>
.el-card.profile {
  margin-top: 1rem;
  border-radius: 1.5rem;
}

</style>

<script setup lang="ts">
import {storeToRefs} from "pinia";
import {useBusinessMemberStore} from "~/store/businessMember";
import {useBusinessStore} from "~/store/businessInfo";
import type {FormInstance, FormRules} from "element-plus";

useHead({
  title: '내 정보'
})

// 사업장 정보
const bmStore = useBusinessMemberStore();
const {getMyInfo} = bmStore
const {MyInfo} = storeToRefs(bmStore);


await getMyInfo().then(() => {
}).catch(() => {
});


// 회원 정보
const store = useBusinessStore();
const {getBusinessInfo} = store
const {businessInfo} = storeToRefs(store);

await getBusinessInfo().then(() => {
}).catch(() => {
})


// 라우터
const router = useRouter()

const goBack = () => {
  router.push("/");
}

const goBusinessEdit = () => {
  router.push("/business/business-info-edit");
}

</script>
