<template>
  <div>
    <el-page-header @back="main">
      <template #content>
        <div class="text-large font-600 mr-3">인수인계 캘린더</div>
      </template>
      <template #extra>
        <div class="flex items-center">
          <el-button type="primary" class="ml-2" @click="dialogFormVisible = true">인수인계 등록</el-button>
        </div>
        <el-dialog v-model="dialogFormVisible" title="인수인계 등록" width="500">
          <div class="text-sm text-gray-500 mb-5">
          <div>근무 중 해야할 일을 관리할 수 있습니다.</div>
          <div>당일 인수인계만 등록이 가능합니다.</div>
          </div>
          <el-form :model="form">
            <el-form-item class="center" label="내용" :label-width="formLabelWidth">
              <el-input v-model="form.content" autocomplete="off"/>
            </el-form-item>
          </el-form>
          <template #footer>
            <div class="dialog-footer">
              <el-button @click="dialogFormVisible = false">취소</el-button>
              <el-button type="primary" @click="submit">
                등록
              </el-button>
            </div>
          </template>
        </el-dialog>
      </template>
      <div class="calender-setting">
        <el-calendar ref="calendar">
          <template #header="{ date }">
            <span>인수인계</span>
            <span>{{ date }}</span>
            <el-button-group>
              <el-button size="small" @click="selectDate('prev-month')">
                지난 달
              </el-button>
              <el-button size="small" @click="selectDate('today')">오늘</el-button>
              <el-button size="small" @click="selectDate('next-month')">
                다음 달
              </el-button>
            </el-button-group>
          </template>
          <template #date-cell="{ data }">
            <div @click="showContent(data)">
              <p :class="data.isSelected ? 'is-selected' : ''">
                {{ data.day.split('-').slice(1).join('-') }}
              </p>
              <div class="text-sm" v-html="getDayText(data.day.split('-').slice(1).join('-'), weekList)">
              </div>
            </div>
          </template>
        </el-calendar>
        <el-dialog v-model="dialogTableVisible" title="인수인계 리스트" width="900">
          <el-table :data="selectedDayContent">
            <el-table-column property="content" label="내용" width="250"/>
            <el-table-column property="memberName" label="작성자" width="100"/>
            <el-table-column property="isFinish" label="처리 여부"/>
            <el-table-column property="dateFinish" label="완료일시"/>
            <el-table-column property="" label="">
              <template #default="scope">
<!--            만약 isFinish가 '처리 완료'라면 버튼 비활성화 -->
                <template v-if="scope.row.isFinish == '처리 완료'">
                  <el-button type="success" :icon="Check" circle disabled/>
                  <el-button type="danger" :icon="Delete" circle disabled/>
                </template>
                <template v-else>
<!--            isFinish가 '미처리'라면 버튼 활성화-->
                  <el-button type="success" :icon="Check" circle @click="putTodo(scope.$index)"/>
                  <el-button type="danger" :icon="Delete" circle @click="delData(scope.$index)"/>
                </template>
              </template>
            </el-table-column>
          </el-table>
        </el-dialog>
      </div>
    </el-page-header>
  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";
import type {CalendarDateType, CalendarInstance} from "element-plus";
import {useRouter} from "vue-router";
import {storeToRefs} from "pinia";
import {useTransitionStore} from "~/store/transition";
import {Check, Delete, Edit} from "@element-plus/icons-vue";

const router = useRouter();
definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '인수인계 캘린더'
})

const store = useTransitionStore();
const {getTodoMonth, delTransition, putTransition} = store;
const {weekList} = storeToRefs(store);

const selectedDayContent = ref([]);
const dialogTableVisible = ref(false);
const calendar = ref<CalendarInstance>();

const showContent = (data: any) => {
  const clickedDate = data.day;
  selectedDayContent.value = weekList.value.filter((item: any) => item.dateTransition === clickedDate);
  dialogTableVisible.value = true;
};


const formLabelWidth = '80px'

const main = () => {
  router.push("/");
};


  await getTodoMonth().then(() => {
  }).catch(() => {
  });


const getDayText = (day: string, weekList: any) => {
  // 빈그릇 result 생성
  let result = ""
  for (let i = 0; i < weekList.length; i++) {

    // substring(8)은 2024-04-27 의 값에서 앞의 8자리를 빼고 나머지값을 의미한다.
    // 즉, currentDay는 weekList를 반복으로 돌려서 dateTransition의 값을 받아 앞의 8자리를 뗀 나머지 값을 의미한다.
    let currentDay = weekList[i].dateTransition.substring(5);

    //day와 currentDay의 값이 같다면
    if (day === currentDay) {
      const textStyle = weekList[i].isFinish === '처리 완료' ? 'text-decoration: line-through;' : '';
      const checkMark = weekList[i].isFinish === '처리 완료' ? '✔️ ' : '';
      // const backgroundColor = weekList[i].isFinish === '미처리' ? 'background-color: green;' : weekList[i].isFinish === '처리 완료' ? 'background-color: blue;' : '';
      //weekList 반복 돌린 것의 content를 받아오겠다라는 뜻이다.
      result += `<div>${checkMark}<span style="${textStyle}">${weekList[i].content}</span></div>`;
    }
  }
  //result를 반환
  return result;
};

const selectDate = (val: CalendarDateType) => {
  if (!calendar.value) return;
  calendar.value.selectDate(val);
};

const form = reactive({
  content: ''
})

const dialogFormVisible = ref(false);


const submit = () => {
  const payload = {
    content: form.content
  }
  store.setTransition(payload).then(() => {
    alert("등록 성공")
    dialogFormVisible.value = false;
    //강제 새로고침
    location.reload();
  }).catch(() => {
    console.log("인수인계 등록 실패")
  })
}

const delData = async (index: number) => {
  try {
    const idToDelete = selectedDayContent.value[index].id;
    selectedDayContent.value.splice(index, 1)
    await delTransition(idToDelete);
    console.log("삭제 성공");
    alert("삭제 성공")
    location.reload();
  } catch (error) {
    console.error("삭제 실패:", error);
  }
};


const putTodo = async (index: number) => {
  try {
    const idToPut = selectedDayContent.value[index].id;
    await putTransition(idToPut);
    location.reload();
    console.log("완료 처리 성공");
    alert("완료 처리 성공")
  } catch (error) {
    console.error("완료 처리 실패 이유 뭐냐,,=>", error);
  }
};
</script>
