<script setup lang="ts">
import { useToast, TwFeather, TwToast } from "vue3-tailwind";
const { toasts } = useToast();
const cookieDark = useCookie('dark-mode')
</script>

<template>
  <div id="dark-mode" :class="cookieDark ? 'dark vt-dark' : ''">
    <TwToast position="bottom-right" :toasts="toasts" />
    <div>
      <LayoutFloating />
      <LayoutHeader />
      <div class="py-0 px-0 md:px-1">
<!--사이드 바 배경 css-->
        <div
          class="flex min-h-screen text-sky-900 dark:text-gray-200 bg-main-color-4 shadow-lg"
        >
<!--사이드바-->
          <LayoutSidebar class="h-full" />
<!--반응형 사이즈 조절-->
          <div
            class="w-full md:w-[calc(100%-8rem)] lg:w-[calc(100%-16rem)] sm:rounded-l-none"
          >
<!--보여지는 내용 뒷 배경 css-->
            <div class="p-4 bg-main-color-4 dark:bg-main-color-1 h-full rounded-3xl">
              <slot />
            </div>
          </div>
        </div>
      </div>
<!--Footer 개발자 정보 -->
<!--href 부분 링크 빼거나 교체해야함 -->
      <div
        class="text-center flex items-center gap-1 justify-center text-gray-200"
      >
        <TwFeather class="text-main-color-4" type="users" />
        Developed with By
        <a
          class="text-blue-300"
          href="https://github.com/WailanTirajoh"
          target="_blank"
        >
          Episode 6
        </a>
      </div>
    </div>
  </div>
</template>

<style></style>
