<script setup lang="ts">
import {TwToast, useToast} from 'vue3-tailwind';

useHead({
  htmlAttrs: {
    lang: 'en',
  }
})

const { toasts } = useToast();
</script>

<template>
  <div>
    <TwToast position="top-right" :toasts="toasts" />
    <div class="flex items-center justify-center px-0">
      <slot />
    </div>
  </div>
</template>
