<!--대시보드 내용-->
<template>
  <div>
    <h1 class="text-2xl font-bold">대시보드</h1>
    <hr class="my-2 border-main-color-1 dark:border-main-color-1"/>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-3" title="근무현황 자세히 보기" @click="goSchedule">
        <el-card class="today">
          <div class="font-bold">
            TODAY 출근할 직원 일정
          </div>
          <div class="mb-4">
            <div class="text-sm text-gray-400">오늘 출근하는 직원의 일정을 보여줍니다.</div>
          </div>
          <!-- 출근자 리스트 반복문  -->
          <div v-if="today.length === 0" class="text item">
            오늘 출근할 직원이 없습니다.
          </div>
          <div class="mb-2" v-for="(schedule, index) in today" :key="index">
            <div class="text item">
              {{ schedule.businessMemberName }} 출근 {{ schedule.startWork }} 퇴근 {{ schedule.endWork }}
            </div>
          </div>
        </el-card>
      </div>
      <div class="col-span-3" title="근무현황 자세히 보기" @click="goSchedule">
        <el-card class="today">
          <div class="font-bold">
            TODAY 출근한 직원
          </div>
          <div class="mb-4">
            <div class="text-sm text-gray-400">오늘 출근한 직원을 보여줍니다.</div>
          </div>
          <!-- 출근자 리스트 반복문  -->
          <div class="mb-2">
            <div v-if="todayStart.length === 0" class="text item">
              출근한 직원이 없습니다.
            </div>
            <div v-else v-for="(schedule, index) in todayStart" :key="index" class="text item">
              {{ schedule.businessMemberName }}
            </div>
          </div>
        </el-card>

      </div>
      <div class="col-span-3" title="근무현황 자세히 보기" @click="goSchedule">
        <el-card class="today">
          <div class="font-bold">
            TODAY 지각한 직원
          </div>
          <div class="mb-4">
            <div class="text-sm text-gray-400">오늘 지각한 직원을 보여줍니다.</div>
          </div>
          <!-- 출근자 리스트 반복문  -->
          <div class="mb-2">
            <div v-if="todayLate.length === 0" class="text item">
              지각한 직원이 없습니다.
            </div>
            <div v-else v-for="(schedule, index) in todayLate" :key="index">
              <div class="text item">
                {{ schedule.businessMemberName }} 지각 {{ schedule.startWork }}
              </div>
            </div>
          </div>
        </el-card>
      </div>
      <div class="col-span-3" title="메뉴얼 자세히 보기">
        <el-card class="alba">
          <div class="text-main-color-4 font-bold">
            내 알바야 매뉴얼
          </div>
          <div class="mb-4">
            <div class="text-sm text-gray-400">'내 알바야'의 메뉴얼입니다.</div>
          </div>
          <div class="text-main-color-4">
            <button class="border-2 border-amber-50 w-full h-10 rounded-[1rem] mb-3">[ 직원 관리 ] 직원 등록하는 방법</button>
            <button class="border-2 border-amber-50 w-full h-10 rounded-[1rem] mb-3">[ 직원 관리 ] 출퇴근 이용방법</button>
            <button class="border-2 border-amber-50 w-full h-10 rounded-[1rem] mb-3">[ 사업장 관리 ] 사업장 정보 변경 방법</button>
            <button class="border-2 border-amber-50 w-full h-10 rounded-[1rem] mb-3">[ 인수인계 관리 ] 인수인계 사용법</button>
          </div>

        </el-card>
      </div>
      <div class="col-span-6" title="인수인계 리스트 자세히 보기" @click="goTransition">
        <el-card class="today">
          <div class="font-bold">
            TODAY 인수인계
          </div>
          <div class="mb-4">
            <div class="text-sm text-gray-400">오늘 인수인계 리스트를 보여줍니다.</div>
          </div>
          <!-- 인수인계 리스트 반복문  -->
          <div class="mb-2">
            <div v-if="transition.length === 0" class="text item">
              오늘 해야할 리스트가 없습니다.
            </div>
            <template v-else>
              <el-row>
                <el-col :span="12">
                  <div class="text-sm text-gray-400 mb-2">미처리 항목</div>
                  <template v-for="list in transition">
                    <div class="text item" v-if="list.isFinish === false">
                      {{ list.transitionContent }}
                    </div>
                  </template>
                </el-col>
                <el-col :span="12">
                  <div class="text-sm text-gray-400 mb-2">완료 항목</div>
                  <template v-for="list in transition">
                    <div class="text item" v-if="list.isFinish === true">
                      <div class="finished-text">
                        {{ list.transitionContent }}
                      </div>
                    </div>
                  </template>
                </el-col>
              </el-row>
            </template>
          </div>
        </el-card>
      </div>
      <div class="col-span-3" title="재고관리 자세히 보기" @click="goProduct">
        <el-card class="today">
          <div class="font-bold">
            부족한 재고 현황
          </div>
          <div class="mb-4">
            <div class="text-sm text-gray-400">최소수량보다 적은 재고의 리스트입니다.</div>
          </div>
          <!-- 재고 리스트 반복문  -->

          <div class="mb-2">
            <div v-if="product.length === 0" class="text item">
              최소수량보다 적은 재고가 없습니다.
            </div>
              <div class="text item">
                <el-row :gutter="2">
                  <el-col :span="16">
                    <div class="text-sm text-gray-400 mb-2">상품명</div>
                    <template v-for="list in product">
                    <div class="mb-2">{{ list.productName }}</div>
                    </template>
                  </el-col>
                  <el-col :span="4">
                    <div class="text-sm text-gray-400 mb-2">최소수량</div>
                    <template v-for="list in product">
                      <div class="mb-2">{{ list.minQuantity }}</div>
                    </template>
                  </el-col>
                  <el-col :span="4">
                    <div class="text-sm text-gray-400 mb-2">현재수량</div>
                    <template v-for="list in product">
                      <div class="mb-2 text-danger">{{ list.nowQuantity }}</div>
                    </template>
                  </el-col>
                </el-row>
              </div>
            </div>
        </el-card>
      </div>
      <div class="col-span-3" title="공지사항 자세히 보기" @click="goNotice">
        <el-card class="alba">
          <div class="text-main-color-4 font-bold">
            공지사항
          </div>
          <div class="mb-4">
            <div class="text-sm text-gray-400">'내 알바야'의 공지사항입니다.</div>
          </div>
          <div class="text-main-color-4">
            <div class="mb-2">

              <div v-if="notice.length === 0" class="text item">
                공지사항이 없습니다.
              </div>
              <div class="text item">
                <el-row :gutter="2">
                  <el-col :span="14">
                    <div class="text-sm text-gray-400 mb-2">제목</div>
                    <template v-for="list in notice">
                      <div class="mb-2">{{ list.noticeTitle }}</div>
                    </template>
                  </el-col>
                  <el-col :span="10">
                    <div class="text-sm text-gray-400 mb-2">일시</div>
                    <template v-for="list in notice">
                      <div class="mb-2">{{ list.noticeTime }}</div>
                    </template>
                  </el-col>
                </el-row>
              </div>
            </div>
          </div>
        </el-card>
      </div>
    </div>
  </div>
</template>

<style>
.el-card.today {
  border-radius: 1.5rem;
  height: 300px;
}

.el-card.alba {
  border-radius: 1.5rem;
  height: 300px;
  background-color: #112D4E;
}

.finished-text {
  text-decoration: line-through;
}
.el-card.today:hover {
  background-color: lightgray;
  cursor: pointer;
}

.el-card.alba:hover {
  background-color: slategray;
  cursor: pointer;
}


</style>

<script setup lang="ts">
import {storeToRefs} from "pinia";
import {useDashboard} from "~/store/dashboard";

definePageMeta({
  middleware: 'auth'
})

useHead({
  title: "대시보드",
});

const router = useRouter();

const store = useDashboard();
const {getTodayCheck, getDash} = store
const {todayStart, todayLate, today, transition, product, notice} = storeToRefs(store)

await getTodayCheck().then(() => {
}).catch(() => {
})

await getDash().then(() => {
}).catch(() => {
})

const goTransition= () => {
  router.push("/transition/calendar");
}

const goNotice = () => {
  router.push("/notice");
}

const goSchedule = () => {
  router.push("/business/schedule/today-list");
}

const goProduct = () => {
  router.push("/product/product-table");
}

</script>
