<template>
  <div>
    <el-page-header @back="goBack">
        <template #breadcrumb>
          <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">
              main
            </el-breadcrumb-item>
            <el-breadcrumb-item>마이페이지</el-breadcrumb-item>
            <el-breadcrumb-item><a @click="goBack">공지사항</a></el-breadcrumb-item>
            <el-breadcrumb-item>공지사항 상세보기</el-breadcrumb-item>
          </el-breadcrumb>
        </template>
      <template #content>
        <div class="text-large font-600 mr-3" v-if="detail">공지사항 < {{detail.title}} ></div>
      </template>

      <el-card class=" mt-4" v-if="detail" style="height: max-content">
        <div class="font-bold">
          {{detail.title}}
        </div>
        <div class="mb-4">
          <div class="text-sm text-gray-400">{{ detail.dateNotice }}</div>
        </div>
        <div class="mb-2">
          <div class="text item" style="white-space: pre-line;">
            {{ detail.content }}
          </div>
        </div>
        <div v-if="detail.noticeImgUrl">
          <el-image
            style="height: 500px"
            :src="detail.noticeImgUrl"
            :zoom-rate="1.2"
            :max-scale="7"
            :min-scale="0.2"
            :initial-index="4"
            fit="cover"
            @click="dialogFormVisible = true"
          />
        </div>
        <el-dialog v-model="dialogFormVisible" title="첨부 이미지">
          <div style="text-align: center;">
            <el-image
              :src="detail.noticeImgUrl"
              fit="contain"
              style="min-height: 100%;"
            />
          </div>
        </el-dialog>
      </el-card>
    </el-page-header>
  </div>
</template>
<script setup>
import {storeToRefs} from "pinia";
import {useNoticeStore} from "~/store/notice";
import {ref} from "vue";

definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '공지사항 상세보기'
})

const router = useRouter();

const goBack = () => {
  router.push("/notice");
}

const store = useNoticeStore();
const {getNoticeDetail} = store
const {detail} = storeToRefs(store);

await getNoticeDetail('${id}').then(() => {
  console.log("상세보기 성공")
}).catch(() => {
  console.log("상세보기 실패")
});

const dialogFormVisible = ref(false);

</script>
