<!--근무 캘린더-->

<script setup lang="ts">
import {onMounted, ref} from "vue";
import type {CalendarDateType, CalendarInstance} from "element-plus";

const router = useRouter();

useHead({
  title: '근무 캘린더'
})


const calendar = ref<CalendarInstance>()
const selectDate = (val: CalendarDateType) => {
  if (!calendar.value) return
  calendar.value.selectDate(val)
}

const goBack = () => {
  router.push("/");
}

</script>

<template>
  <div>
    <el-page-header @back="goBack">
      <template #content>
        <div class="flex items-center">
          <span class="text-large font-600 mr-3"> 근무 일정 조회 </span>
        </div>
      </template>
      <div class="calender-setting">
        <el-calendar ref="calendar">
          <template #header="{ date }">
            <span>근무 스케쥴</span>
            <span>{{ date }}</span>
            <el-button-group>
              <el-button size="small" @click="selectDate('prev-month')">
                지난 달
              </el-button>
              <el-button size="small" @click="selectDate('today')">오늘</el-button>
              <el-button size="small" @click="selectDate('next-month')">
                다음 달
              </el-button>
            </el-button-group>
          </template>
        </el-calendar>
      </div>
    </el-page-header>
  </div>
</template>


