<template>
  <div>
    <el-page-header @back="goBack">
      <template #content>
        <div class="text-large font-600 mr-3">출퇴근 리스트</div>
      </template>
      <el-date-picker
        v-model="selectedDate"
        type="date"
        placeholder="날짜 선택"
        class="mt-4"
      ></el-date-picker>
      <el-button type="primary" class="ml-2 mt-4" @click="loadSchedule(selectedDate)">확인</el-button>
      <div class="text-sm text-gray-400 mt-4">직원의 출퇴근 기록을 볼 날짜를 달력에서 선택한 후 확인 버튼을 눌러주세요.</div>
      <el-row :gutter="20" class="mt-4">
        <el-col v-if="todaySchedule && todaySchedule.length > 0" :span="8" v-for="(subItem, subIndex) in todaySchedule"
                :key="subIndex">
          <el-card shadow="hover" class="mb-4" :class="{ 'no-hover': true }">
            <div class="mb-4">
              <div class="font-bold text-main-color-1 text-lg mb-4">{{ subItem.businessMemberName }}
                <el-tag type="primary" size="small" class="ml-2">{{ subItem.businessMemberPosition }}</el-tag>
              </div>
              <div>
              <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 80px;">근무 일자</span>
              <span>{{ subItem.dateWork }}</span>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 80px;">출근 시간</span>
                <span>{{ subItem.startWork }}</span> <el-tag :type="subItem.isLateness === '지각' ? 'danger' : 'primary'" size="small" class="ml-2">
                {{ subItem.isLateness }}
              </el-tag>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 80px;">퇴근시간</span>
                <span>   {{ subItem.endWork ? `${subItem.endWork}` : `${subItem.businessMemberName}님께서 퇴근을 안 찍었습니다.` }}</span>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 80px;">일 근무시간</span>
                <span>{{ subItem.totalWorkTime }}시간</span>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 80px;">오버 타임</span>
                <span>{{ subItem.isOverTime }}</span>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 80px;">메모</span>
                <span>{{ subItem.etc }}</span>
              </div>
            </div>
          </el-card>
          <!-- 한 줄에 3개의 열이 아니면 새로운 줄로 시작 -->
          <template v-if="(subIndex + 1) % 3 === 0">
            <div class="el-col el-col-8"></div>
          </template>
        </el-col>
        <div v-else>
          <p>해당 날짜의 출퇴근 리스트가 없습니다.</p>
        </div>
      </el-row>
    </el-page-header>
  </div>
</template>

<script setup lang="ts">
import {storeToRefs} from "pinia";
import {useBusinessMemberStore} from "~/store/businessMember";

const store = useBusinessMemberStore();
const {getTodaySchedule} = store;
const {todaySchedule} = storeToRefs(store);

import {ref} from 'vue';
import {useRouter} from 'vue-router';


definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '출퇴근 리스트'
})


// 선택된 날짜를 담을 변수
const selectedDate = ref<string>(new Date().toISOString().split('T')[0]);

const router = useRouter();

const goBack = () => {
  router.push("/");
};

// 선택한 날짜의 출퇴근 기록을 불러오기
const loadSchedule = async (data) => {
  try {
    await getTodaySchedule(data);
  } catch (error) {
    console.error("출퇴근 기록 불러오기 실패:", error);
  }
};
</script>

<style>
.el-card {
  border-radius: 1rem;
}
</style>
