<script setup lang="ts">
import {
  TwForm,
  TwButton,
  TwFile,
  TwInput,
  TwTextarea,
} from "vue3-tailwind";
import { useFormExample } from "~/store/formExample";
const formExample = useFormExample();

useHead({
  title: '사업장 등록'
})
</script>

<template>
  <div>
    <h2 class="text-2xl font-bold">사업장 등록</h2>
    <hr class="my-2 border dark:border-gray-700" />
    <div>
      <TwForm
        :name="formExample.formName"
        class="grid grid-cols-12 gap-2 bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded-lg p-2 shadow"
        :class="{
          'tw-shake': formExample.isError,
        }"
        :rules="formExample.formRules"
        @submit="formExample.submit()"
        :custom-field-name="{
          inputExample: 'Input',
          textAreaExample: 'Text Area',
        }"
      >
        <div class="col-span-12">
          <div class="vt-font-bold text-gray-700" >사업자 등록증 첨부</div>
          <TwFile v-model="formExample.formData.fileModel" />
        </div>
        <div class="col-span-6">
          <TwInput
            label="상호명"
            name="inputExample"
            v-model="formExample.formData.inputExample"
            placeholder="사업자등록증에 등록된 '상호명'을 입력해주세요."
            type="text"
          />
          <CustomErrorMessage name="inputExample" />
        </div>
        <div class="col-span-6">
          <TwTextarea
            label="사업자 등록 번호"
            name="textAreaExample"
            v-model="formExample.formData.textAreaExample"
            placeholder="형식에 맞게 '사업자번호'를 입력해주세요. ex) 000-00-00000 "
            type="text"
          />
          <CustomErrorMessage name="textAreaExample" />
        </div>
        <div class="col-span-6">
          <TwInput
            label="대표자명"
            name="1"
            v-model="formExample.formData.inputExample1"
            placeholder="사업자등록증에 등록된 '대표자명'을 입력해주세요."
            type="text"
          />
          <CustomErrorMessage name="inputExample" />
        </div>
        <div class="col-span-6">
          <TwInput
            label="업종"
            name="inputExample"
            v-model="formExample.formData.inputExample2"
            placeholder="사업자 등록증에 등록된 '업종(업태)'을 입력해주세요. ex) 한식 일반 음식점업"
            type="text"
          />
          <CustomErrorMessage name="inputExample" />
        </div>
        <div class="col-span-6">
          <TwInput
            label="전화번호"
            name="inputExample"
            v-model="formExample.formData.inputExample3"
            placeholder="ex) 032)652-1020"
            type="text"
          />
          <CustomErrorMessage name="inputExample" />
        </div>

        <div class="col-span-6">
          <TwInput
            label="이메일"
            name="inputExample"
            v-model="formExample.formData.inputExample4"
            placeholder="ex) neaalbaya@example.com"
            type="text"
          />
          <CustomErrorMessage name="inputExample" />
        </div>
        <div class="col-span-12">
          <TwInput
            label="사업장 소재지 주소"
            name="inputExample"
            v-model="formExample.formData.inputExample5"
            placeholder="사업자등록증에 등록된 '소재지'를 입력해주세요."
            type="text"
          />
          <CustomErrorMessage name="inputExample" />
        </div>
        <div class="col-span-12">
          <TwInput
            label="실 근무지 주소"
            name="inputExample"
            v-model="formExample.formData.inputExample6"
            placeholder="위치서비스를 이용할 '실근무지 주소'를 입력해주세요."
            type="text"
          />
          <CustomErrorMessage name="inputExample" />
        </div>

        <div class="col-span-12">
          <input
            type="checkbox"
            id="toggle"
            name="toggleExample"
            v-model="formExample.formData.toggleExample"
          />
          <label for="toggle">필수약관 동의</label>
          <CustomErrorMessage name="toggleExample" />
        </div>


        <!--        버튼-->
        <div class="col-span-12 flex justify-end gap-1">
<!--          초기화 버튼-->
          <TwButton
            ripple
            variant="secondary"
            type="button"
            class="px-4 dark:text-gray-200 dark:!border-gray-800 dark:border"
            @click="formExample.clear()"
          >
            초기화
          </TwButton>
<!--          제출 버튼-->
          <TwButton variant="primary" class="px-4">
            제출
          </TwButton>
        </div>
      </TwForm>
    </div>
  </div>
</template>
