<!--사업장 정보 수정-->

<template>
  <div v-if="!requestPending">
    <el-page-header @back="goBusiness">
      <template #breadcrumb>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">
            main
          </el-breadcrumb-item>
          <el-breadcrumb-item>마이페이지</el-breadcrumb-item>
          <el-breadcrumb-item><a @click="goBusiness">내 사업장 정보</a></el-breadcrumb-item>
          <el-breadcrumb-item>내 사업장 정보 수정</el-breadcrumb-item>
        </el-breadcrumb>
      </template>
      <template #content>
        <div class="flex items-center">
          <span class="text-large font-600 mr-3"> 사업장 정보 수정 </span>
        </div>
      </template>
      <template #extra>
        <div class="flex items-center">
          <el-button type="info" plain class="ml-2">휴업 요청</el-button>
        </div>
      </template>
        <el-form
          ref="ruleFormRef"
          style="max-width: 600px"
          :model="ruleForm"
          :rules="rules"
          label-width="auto"
          class="demo-ruleForm"
          status-icon
        >
          <el-form-item label="사업장 이름" prop="businessName">
            <el-input v-model="ruleForm.businessName" placeholder=""/>
          </el-form-item>
          <el-form-item label="대표자 이름" prop="ownerName">
            <el-input v-model="ruleForm.ownerName" />
          </el-form-item>
          <el-form-item label="사업자 등록증 첨부" prop="businessImgUrl">
            <el-input v-model="ruleForm.businessImgUrl" placeholder="임시로 텍스트로 넣어둠" />
          </el-form-item>
          <el-form-item label="업종" prop="businessType">
            <el-input v-model="ruleForm.businessType" />
          </el-form-item>
          <el-form-item label="사업장 주소" prop="businessLocation">
            <el-input v-model="ruleForm.businessLocation" />
          </el-form-item>
          <el-form-item label="사업자 이메일주소" prop="businessEmail">
            <el-input v-model="ruleForm.businessEmail" />
          </el-form-item>
          <el-form-item label="사업장 실 근무지 주소" prop="reallyLocation">
            <el-input v-model="ruleForm.reallyLocation" />
          </el-form-item>
          <el-form-item label="사업자 핸드폰 번호" prop="businessPhoneNumber">
            <el-input v-model="ruleForm.businessPhoneNumber" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submitUpload">
              완료
            </el-button>
            <el-button @click="resetForm(ruleFormRef)">초기화</el-button>
          </el-form-item>
        </el-form>
      <p class="mt-4 text-sm text-main-color-1">
        사업장 정보 수정은 관리자의 승인이 필요하여 <b>2~5일가량</b> 소요됨을 알려드립니다.
      </p>
    </el-page-header>
  </div>
  <div v-else>
    <h1>요청 대기중 ...</h1>
    <p class="mt-4 text-sm text-main-color-1">
      사업장 정보 수정은 관리자의 승인이 필요하여 <b>2~5일가량</b> 소요됨을 알려드립니다.
    </p>
  </div>
</template>

<script setup lang="ts">
import type {FormInstance, FormRules} from "element-plus";
import {useBusinessStore} from "~/store/businessInfo";


useHead({
  title: '사업장 정보 수정'
})

const businessStore = useBusinessStore()
const router = useRouter()
const goBack = () => {
  router.push("/");
}

const goBusiness = () => {
  router.push("/profile")
}

const formSize = ref('default')
const ruleFormRef = ref<FormInstance>()
const ruleForm = reactive({
  businessName: '',
  ownerName: '',
  businessImgUrl: '',
  businessType: '',
  businessLocation: '',
  businessEmail: '',
  businessPhoneNumber: '',
  reallyLocation: '',
})

const rules = reactive<FormRules>({
  businessName: [
    { required: false, message: 'Please input Activity name', trigger: 'change' },
    { min: 1, max: 30, message: 'Length should be 3 to 5', trigger: 'change' },
  ],
  ownerName: [
    {
      type: 'string',
      required: false,
      message: 'Please select Activity zone',
      trigger: 'change',
    },
  ],
  businessImgUrl: [
    {
      required: false,
      message: 'Please select Activity count',
      trigger: 'change',
    },
  ],
  businessType: [
    {
      type: 'string',
      required: false,
      message: 'Please pick a date',
      trigger: 'change',
    },
  ],
  businessLocation: [
    {
      type: 'string',
      required: false,
      message: 'Please pick a time',
      trigger: 'change',
    },
  ],
  businessEmail: [
    {
      type: 'email',
      required: false,
      message: 'Please select a location',
      trigger: 'change',
    },
  ],
  businessPhoneNumber: [
    {
      type: 'string',
      required: false,
      message: 'Please select at least one activity type',
      trigger: 'change',
    },
  ],
  reallyLocation: [
    {
      type: 'string',
      required: false,
      message: 'Please select activity resource',
      trigger: 'change',
    },
  ],
})
const requestPending = ref(false);
const submitUpload = async () => {
  requestPending.value = true;
  const payload = {
    businessName: ruleForm.businessName,
    ownerName: ruleForm.ownerName,
    businessImgUrl: ruleForm.businessImgUrl,
    businessType: ruleForm.businessType,
    businessLocation: ruleForm.businessLocation,
    businessEmail: ruleForm.businessEmail,
    businessPhoneNumber: ruleForm.businessPhoneNumber,
    reallyLocation: ruleForm.reallyLocation,
  }
  await businessStore.setCreateRe(payload, '${id}');
  setTimeout(() => {
    requestPending.value = false;
  },3000);
}

// const {data: businessInfo} = await useFetch('http://versuss.store:8080/v1/business/detail/business-id/1')

// const submitForm = async (formEl: FormInstance | undefined) => {
//   if (!formEl) return
//   await formEl.validate((valid, fields) => {
//     if (valid) {
//       console.log('submit!')
//     } else {
//       console.log('error submit!', fields)
//     }
//   })
// }

const resetForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return
  formEl.resetFields()
}

// const options = Array.from({ length: 10000 }).map((_, idx) => ({
//   value: `${idx + 1}`,
//   label: `${idx + 1}`,
// }))
</script>
