<template>
  <div>
    <el-page-header @back="goBack">
      <template #content>
        <div class="text-large font-600 mr-3">근로 계약 관리</div>
      </template>
      <el-row :gutter="20" class="mt-4">
        <el-col v-if="list && list.length > 0" :span="8" v-for="(item, idx) in list"
                :key="idx">
          <el-card shadow="hover" class="mb-4" @click="openDialog(item)">
            <div class="mb-4">
              <div class="font-bold text-main-color-1 text-lg mb-4">{{ item.businessMemberName }}
                <el-tag type="primary" size="small" class="ml-2">{{ item.businessMemberPosition }}</el-tag>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">계약 일자</span>
                <span>{{ item.dateContract }}</span>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">급여 유형</span>
                <span>{{ item.payType }}</span>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">급여 금액</span>
                <span>{{ item.payPrice }}</span>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">근무 시작 일자</span>
                <span>{{ item.dateWorkStart }}</span>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">근무 종료 일자</span>
                <span>{{ item.dateWorkEnd }}</span>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">휴게시간</span>
                <span>{{ item.restTime }}</span>
              </div>
              <div>
<!--                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">기본 공제</span>-->
<!--                <span>   {{ subItem.endWork ? `${subItem.endWork}` : `${subItem.businessMemberName}님께서 퇴근을 안 찍었습니다.` }}</span>-->
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">근무 요일</span>
                <span>{{ item.workDay }}</span>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">일 근무시간</span>
                <span>{{ item.workTime }}</span>
              </div>
              <div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">주 근무시간</span>
                <span>{{ item.weekWorkTime }}</span>
              </div>
            </div>
          </el-card>
          <el-dialog v-model="dialogVisible" width="30%">
            <div v-if="selectedItem" style="display: flex; justify-content: center; align-items: center;">
              <div class="mb-4">
                <div class="font-bold text-main-color-1 text-lg mb-4">{{ selectedItem.businessMemberName }}님
                  <span slot="title" class="ml-1 mb-4 text-lg">근로 계약 상세 정보</span></div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">계약 일자</span>
                  <span>{{ selectedItem.dateContract }}</span>
                </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">급여 유형</span>
                  <span>{{ selectedItem.payType }}</span>
                </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">급여 금액</span>
                  <span>{{ selectedItem.payPrice }}원</span>
                </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">근무 시작 일자</span>
                  <span>{{ selectedItem.dateWorkStart }}</span>
                </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">근무 종료 일자</span>
                  <span>{{ selectedItem.dateWorkEnd }}</span>
                </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">휴게시간</span>
                  <span>{{ selectedItem.restTime }}시간</span>
                </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">세금 공제</span>
                  <span>{{ selectedItem.insurance }}</span>
                </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">근무 요일</span>
                  <span>{{ selectedItem.workDay }}</span>
                </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">일 근무시간</span>
                  <span>{{ selectedItem.workTime }}시간</span>
                </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">주 근무시간</span>
                  <span>{{ selectedItem.weekWorkTime }}시간</span>
                </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">주휴수당 여부</span>
                  <span>{{ selectedItem.isWeekPay }}</span>
                </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">식대</span>
                  <span>{{ selectedItem.mealPay }}</span>
                </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">임금 지급일</span>
                  <span>{{ selectedItem.wagePayment }}</span>
                </div><div>
                <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">임금 계좌번호</span>
                <span>{{ selectedItem.wageAccountNumber }}</span>
              </div>
                <div>
                  <span class="mb-2 text-sm text-gray-400" style="display: inline-block; width: 120px;">근로 계약서 사본</span>
                  <div>
                    <el-image
                      style="height: 200px"
                      :src="selectedItem.contractCopyImgUrl"
                      :zoom-rate="1.2"
                      :max-scale="7"
                      :min-scale="0.2"
                      :initial-index="4"
                      fit="cover"
                      @click="dialogFormVisible = true"
                    /></div>
                  <el-dialog v-model="dialogFormVisible" title="첨부 이미지">
                    <div style="text-align: center;">
                      <el-image
                        :src="selectedItem.contractCopyImgUrl"
                        fit="contain"
                        style="max-height: 100%;"
                      />
                    </div>
                  </el-dialog>
                </div>

              </div>
            </div>
            <div slot="footer" style="display: flex; justify-content: center; align-items: center;">
              <el-button @click="dialogVisible = false">닫기</el-button>
            </div>
          </el-dialog>
          <!-- 한 줄에 3개의 열이 아니면 새로운 줄로 시작 -->
          <template v-if="(idx + 1) % 3 === 0">
            <div class="el-col el-col-8"></div>
          </template>
        </el-col>
        <div v-else>
          <p>근로 계약 정보가 없습니다.</p>
          <p>등록해주세요</p>
        </div>
      </el-row>
    </el-page-header>
    <div class="flex justify-center mt-5">
      <el-pagination background layout="prev, pager, next" :total=totalPage*10 @current-change="handlePageChange" />
    </div>
  </div>
</template>

<script setup lang="ts">
import {storeToRefs} from "pinia";

const store = useContractStore();
const {getContracts, setContract} = store;
const {list, totalPage} = storeToRefs(store);

import {useRouter} from 'vue-router';
import {useContractStore} from "~/store/contract";
import {ref} from "vue";


definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '근로 계약 관리'
})

await getContracts(1).then(() => {
}).catch(() => {
});


const dialogVisible = ref(false);
const selectedItem = ref(null);

const openDialog = (item: any) => {
  selectedItem.value = item;
  dialogVisible.value = true;
};

const dialogFormVisible = ref(false);

const router = useRouter();

const goBack = () => {
  router.push("/");
};

</script>

<style>
.el-card {
  border-radius: 1rem;
}
</style>
