<template>
  <div>
    <el-page-header @back="goAskList">
      <template #breadcrumb>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">
            main
          </el-breadcrumb-item>
          <el-breadcrumb-item>마이페이지</el-breadcrumb-item>
          <el-breadcrumb-item @click="goAskList"><a>1:1 문의 내역</a></el-breadcrumb-item>
          <el-breadcrumb-item>1:1 문의글 작성</el-breadcrumb-item>
        </el-breadcrumb>
      </template>
      <template #content>
        <div class="flex items-center">
          <span class="text-large font-600 mr-3"> 1:1 문의글 작성 </span>
        </div>
      </template>
      <div class="pt-4">
        <el-form :model="form" label-width="auto">
          <el-form-item label="문의 제목">
            <el-input v-model="form.title" placeholder="문의 제목을 작성해주세요."/>
          </el-form-item>
          <el-form-item label="문의내용">
            <el-input v-model="form.content" type="textarea" placeholder="문의 내용을 작성해주세요." rows="25" resize="none"/>
          </el-form-item>

          <!-- ref : 업로드를 참조하기 위한 ref-->
          <!-- on-exceed : 파일 수 초과 시 처리하는 이벤트 핸들러  -->
          <!-- auto-upload : 자동 업로드 비활성화 -->
          <!-- on-change : 파일이 업로드되거나 변경될 때 처리하는 이벤트 핸들러 -->
          <el-upload
            ref="upload"
            class="upload"
            :limit="1"
            :on-exceed="handleExceed"
            :auto-upload="false"
            :on-change="handleChange">

            <template #trigger>
              <!-- 업로드 트리거 (버튼)를 커스터마이징 -->
              <el-button type="info" plain>이미지 첨부</el-button>
            </template>
            <template #tip>
              <!-- 업로드 힌트를 커스터마이징 -->
              <div class="el-upload__tip text-red">
                이미지를 첨부해주세요.
              </div>
            </template>
          </el-upload>
          <el-form-item>
            <el-button class="ml-3" type="primary" @click="submitUpload">
              등록
            </el-button>
            <el-button>취소</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-page-header>
  </div>
</template>

<script lang="ts" setup>
import {reactive} from 'vue'
import {genFileId, type UploadInstance, type UploadProps, type UploadRawFile} from "element-plus";
import {useAskStore} from '~/store/askAnswer'

// 스토어 생성
const askStore = useAskStore()

const router = useRouter()

definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '문의글 작성'
})

const form = reactive({
  title: '',
  content: '',
  multipartFile: ''
})


const submitUpload = () => {
  const payload = {
    title: form.title,
    content: form.content,
    multipartFile: form.multipartFile
  }
  askStore.setAsk(payload).then(() => {
    console.log("성공")
    goAskList()
    alert("문의글 등록 완료!")
  }).catch(() => {
    console.log("실패")
  })
}


//이전페이지 (문의내역) 으로 돌아가기
const goAskList = () => {
  router.push("/ask/member-ask-list");
}

//업로드(등록) UploadInstance를 참조
const upload = ref<UploadInstance>()

// 파일 수 초과 시 처리 영역
const handleExceed: UploadProps['onExceed'] = (files) => {
  // 파일 수 초과 시 기존 파일 모두 제거, 새로운 파일 업로드하게 설정
  upload.value!.clearFiles()
  // 업로드한 파일을 가져옴
  const file = files[0] as UploadRawFile
  // 파일 고유 식별자 생성
  file.uid = genFileId()
  // 파일 업로드 시작
  upload.value!.handleStart(file)
}


// 파일이 업로드 되거나 변경될 때 처리
const handleChange = (file) => {
  // 파일이 업로드되었을 때, form.multipartFile에 파일 자체를 설정
  // 업로드된 파일을 폼 데이터의 멀티파트파일 속성에 설정
  form.multipartFile = file.raw;
}

</script>
