<!--문의내역 테이블-->
<template>
  <div>
    <el-page-header @back = "goBack">
      <template #breadcrumb>
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">
            main
          </el-breadcrumb-item>
          <el-breadcrumb-item>마이페이지</el-breadcrumb-item>
          <el-breadcrumb-item>1:1 문의</el-breadcrumb-item>
        </el-breadcrumb>
      </template>
      <template #content>
        <div class="text-large font-600 mr-3">1:1 문의 내역</div>
      </template>
      <template #extra>
        <div class="flex items-center">
          <el-button type="primary" class="ml-2" @click="success">1:1 문의글 작성</el-button>
        </div>
      </template>
      <div class="text-center">
        <div class="table-css-edit">
          <TwDatatableClient
            class="!dark:text-gray-200"
            :column="data.column"
            :data="list"
          >
            <template #row="{ column, data }">
              <template v-if="column.field === 'isAnswer'">
                <el-tag :type="data[column.field] === '답변 완료' ? 'primary' : 'info'" size="default" class="ml-2">
                  {{data[column.field]}}
                </el-tag>
                <div>
                </div>
              </template>
              <template v-if="column.field === 'action'">
                <div>
                  <el-button type="primary" plain @click="detail(data.id)">상세보기</el-button>
                </div>
              </template>
            </template>
            <template #empty>
              <div class="bg-white dark:bg-gray-800 text-center w-full">문의내역이 없습니다.</div>
            </template>
          </TwDatatableClient>
        </div>
        <hr class="my-2 dark:border-gray-700" />
      </div>
    </el-page-header>
    <div class="flex justify-center mt-5">
      <el-pagination background layout="prev, pager, next" :total=totalPage*10 @current-change="handlePageChange"/>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";
import {TwDatatableClient} from "vue3-tailwind";
import {useAskStore} from "~/store/askAnswer";
import {storeToRefs} from "pinia";

definePageMeta({
  middleware: 'auth'
})

useHead({
  title: '문의 내역'
})

const store = useAskStore();
const { fetchAsk } = store
const { list, totalPage } = storeToRefs(store);

await fetchAsk(1).then(() => {
}).catch(() => {
});

const handlePageChange = (pageNum: number) => {
  fetchAsk(pageNum);
}

const router = useRouter();
const goBack =() => {
  router.push("/");
}

const success =() => {
  router.push("/ask/member-ask-create");
}
const detail = (id: number) => {
  router.push(`/ask/detail/${id}`);
}

const data = ref({
  column: [
    {
      label: "",
      field: "isAnswer",
      width: "20px",
    },
    {
      label: "제목",
      field: "title",
      width: "200px",
    },
    {
      label: "작성일",
      field: "dateMemberAsk",
      width: "50px",
    },
    {
      label: "",
      field: "action",
      width: "50px",
    },
  ],
});


</script>
